@import "tailwindcss";

/* &::-webkit-scrollbar{
    display: none;
} */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */



/* client/src/index.css */
@import 'react-calendar-heatmap/dist/styles.css';



/* Custom colors for react-calendar-heatmap */
.react-calendar-heatmap .color-scale-0 { @apply fill-green-200; }
.react-calendar-heatmap .color-scale-1 { @apply fill-green-400; }
.react-calendar-heatmap .color-scale-2 { @apply fill-green-600; }
.react-calendar-heatmap .color-scale-3 { @apply fill-green-800; }
.react-calendar-heatmap .color-scale-4 { @apply fill-green-900; }





 
@layer utilities {
  /* For Firefox and modern browsers */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4A5568 #2D3748; /* thumb color track color */
  }

  /* For Webkit-based browsers (Chrome, Safari, Edge) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #2D3748; /* A dark gray that matches gray-800 */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4A5568; /* A lighter gray that matches gray-600 */
    border-radius: 10px;
    border: 2px solid #2D3748;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #718096; /* A hover color matching gray-500 */
  }
}